			h1{
				width: 50%;
				margin-top: 50px;
				font-family:Chakra Petch;
				font-size: 4em;
				text-align: center;
				color: rgb(255,255,255);
				background-color:rgba(11, 6, 106, 0.8);
			}
			p{
				width:50%;
				margin-top:20px;
				font-family: assistant;
				font-style: bold;
				font-size: 1.5em;
				color: rgb(255,255,255) ;
				background-color:rgba(11, 6, 106, 0.8);
			}
			form{
				color: #FFFF;
				font-family: open sans;
				width: 30%;
				border:1px solid #CCC;
				margin:auto;
				padding: 20px;
				margin-top: 50px;
				margin-bottom: 100px;
				background-color: rgba(11, 6, 106, 0.8);
			}
			label,{
				color: #FFF;
				background-color: rgba(156,0,0, 0.8);
				font-size: 18px;
				display: block;
				width: 100%;
			}
			textarea{
				resize: vertical;
				max-height: 300px;
				min-height: 100px;
			}
			textarea,input{
				border-radius: 3px;
				background-color: #FFF;
				width: 100%;
				margin-bottom: 20px;
				padding:10px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing:border-box;
				-box-sizing:border-box;
				border:1px solid #FFF;
				text-align: center;
			}
			input{
				border-radius: 3px;
				height:30px;
				background-color: #FFF;
				width: 100%
				-webkit-box-sizing: border-box;
				-moz-box-sizing:border-box;
				-box-sizing:border-box;
				border:1px solid #FFF;
			}
			input:focus, textarea:focus{
				border:1px solid #1668C4;
			}
			input[type="submit"]{
				margin-bottom: 0;
				background-color: #11FC2A;
				color:#FFF;
				border:none;
			}
			}
			input[type="submit"]:hover{
				margin-bottom: 0;
				background-color: blue;
				color:#FFF;
				border:1px solid rgb(255,255,255);
			}
			@media screen and (max-width: 800px){
				h1,p{
					width:100%;
				}
				}
				form{
					width: 80%;
					height: 50%;
				}
			}
			@media screen and(min-width:470px;)and (max-width:600px){
				p{	width: 90%;
					margin:2px;
				}
			}	
			@media screen and (min-width:400px)and(max-width:469px) {
