			h1{ 
			width: 70%;
			font-family:Chakra Petch;
			font-size: 55px;
			margin-top: 100px;
			background-color: rgba(44, 35, 81, 0.8);
			color: #C8FE1C;
			text-align: center;
			letter-spacing: 5px;
			}
			form{
				position:relative;
				left:50%
				height: 600px;
				color: #FFFF;
				font-family: open sans;
				width: 30%;
				border:1px solid #CCC;
				margin:auto;
				padding: 50px;
				margin-top: 100px;
				margin-bottom: 100px;
				background-color: rgba(11, 6, 106, 0.8);
				text-align: center;
				}
			label,{
				margin-top: auto
				color: #FFF;
				background-color: rgba(156,0,0, 0.8);
				font-size: 18px;
				display: block;
				width: 100%;
			}
			input{
				padding-top: 20px;
				border-radius: 3px;
				background-color: #FFF;
				width: 100%
				-webkit-box-sizing: border-box;
				-moz-box-sizing:border-box;
				-box-sizing:border-box;
				border:1px solid #FFF;
			}
			button{	
				padding-top: 10px;
				padding-right: 15px;
				padding-bottom: 10px;
				padding-left: 15px;
				margin-left: 10px;
				margin-top: 20px;
				background-color: blue;
				opacity:0.9;
				font-size: 15px;
				color: #FFFF;
				font-family: "assistant";
				text-align: center;
				text-decoration: none;
				border:none;
			}
			button:hover{
				background-image: linear-gradient(#11FC2A, #09B41B 50%,#11FC2A);}
			
			@media screen and (max-width: 800px){	
			h1{
				width: 100%;
			}
			form{
				width: 40%;
			}
			@media screen and (max-width:599px){
			@media screen and (min-width:470px){
				form{
					width: 80%;
				}
			}